#custom {
    font-family: 'Abel', sans-serif;
}

.customBackground {
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
}


#buttonDesign, #iconDesign {
    background-color: #E6563B;
}

.customButton {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border: white solid 5px;
    border-radius: 65px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#buttonDevelop, #iconDevelop {
    background-color: #EB9D3A;
}

#buttonSupport, #iconSupport {
    background-color: #7CB06C;
}

#buttonHost, #iconHost {
    background-color: #00ABA9;
}

.customIcon {
    width: 18px;
    height: 18px;
    padding: 2px;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    z-index: 1;
    /*position: relative;*/
}
header {
    height: 60px;
}


h1, h4, .btn {
    font-family: 'Anton', sans-serif;
}

