#custom {
    font-family: 'Abel', sans-serif;
}

.customBackground {
    background-color: #f0f0f0;
}


#buttonDesign {
    background-color: #E6563B;
}

.customButton {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border: white solid 5px;
    border-radius: 65px;
    font-size: 12px;
    text-align: center;
    color: white;
}

#buttonDevelop {
    background-color: #DEA06C;
}

#buttonSupport {
    background-color: #7CB06C;
}

#buttonHost {
    background-color: #00ABA9;
}

.logo {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    z-index: 1;
    position: relative;
}
header {
    height: 60px;
}


h1, h4, btn {
    font-family: 'Anton', sans-serif;
}
