#custom, .abelFont {
    font-family: 'Abel', sans-serif;
}

.customBackground {
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
}

.twitterCard {
    padding-left: 24px;
}

#buttonDesign, #buttonDesign2, .iconDesign, .lastCards {
    background-color: #E6563B;
}
.lastCards, .twitterCard {
    background-color: #f0f0f0;
    border: none;
    padding: 1px;
}

.fa-twitter {
    color: #43a2f4;
}

.customButton {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border: white solid 5px;
    border-radius: 65px;
    font-size: 20px;
    text-align: center;
    color: white;
}

#buttonDevelop, #buttonDevelop2, .iconDevelop {
    background-color: #EB9D3A;
}

#buttonSupport, #buttonSupport2, .iconSupport {
    background-color: #7CB06C;
}

#buttonHost, #buttonHost2, .iconHost {
    background-color: #00ABA9;
}

.customIcon {
    width: 18px;
    height: 18px;
    padding: 2px;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    color: black;
}

.logo {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    z-index: 1;
    /*position: relative;*/
}

.imageBorder {
    border: 7px solid;
    border-color: #e6e6e6;
    border-radius: 5px;
}

#strip, #smallNav {
    background-color: white;
    margin: 5em;
}
.navSection {
    background-color: #f0f0f0;
}

header {
    height: 60px;
}


h1, #correctHeading, .btn, .lastCards {
    font-family: 'Anton', sans-serif;
}
/*#addPadding {*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*}*/

